body {
    background-color: #34495e; /* Color de fondo oscuro */
    color: #e0e0e0; /* Color de texto claro */
    margin: 0;
    font-family: Arial, sans-serif;
}

/* Estilos del navbar */
.navbar {
    background-color: #39c5bb; /* Color Aqua base */
    padding: 0; /* Espaciado interno */
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.navbar-left {
    display: flex;
    justify-content: center;
}

.navbar .app-name {
    color: #e0e0e0; /* Color de texto claro */
    font-size: 24px; /* Tamaño de fuente para el nombre de la app */
    font-family: 'Arial', sans-serif; /* Fuente para el nombre de la app */
    font-weight: bold;
    padding: 18px;

}

.navbar-left .nav-link {
    display: block;
    color: #e0e0e0; /* Color de texto claro */
    text-align: center;
    padding: 23px 20px ;
    text-decoration: none;
    font-size: 18px;
}
.navbar .nav-link:hover {
    background-color: #2f9c95; /* Tono más oscuro para el hover */
    color: #e0e0e0; /* Color de texto claro */
}

.navbar-right{
    position: relative;
}

.logout-dropdown{
    position: relative;
    display: inline-block;
}

.dropdown-btn{
    background-color: #39c5bb;
    color: #e0e0e0;
    border: none;
    padding: 10px 18px;
    cursor: pointer;
    font-size: 20px;
    border-radius: 4px;
    font-family: 'Arial', sans-serif; /* Fuente para el nombre de la app */
    font-weight: bold;
}

.dropdown-content{
    display: none;
    position: absolute;
    right: 0;
    background-color: #276f6b;
    min-width: 160px;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0.2);
    z-index: 10;
}

.dropdown-content a{
    color: #e0e0e0;
    padding: 12px 16px;
    text-decoration: none;
    display: block;
}

.dropdown-content a:hover{
    background-color: #86cecb;
}
.logout-dropdown:hover .dropdown-content{
    display: block;
}

/* Estilos para el contenedor principal */
.container {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 20px;
    background-color: #34495e; /* Fondo oscuro para el contenedor */
}

.tabs {
    display: flex;
    justify-content: center;
}
.tab-button {
    background-color: #2c2c2c; /* Fondo oscuro para las tabs */
    border: 1px solid #276f6b; /* Color Aqua oscuro para el borde */
    color: #e0e0e0; /* Color de texto claro */
    padding: 10px 20px;
    cursor: pointer;
    font-size: 14px;
    border-radius: 4px 4px 0 0;
    margin-right: 5px;
    flex: 1; /* Flexibilidad para adaptarse al contenedor */
}

.tab-button.active {
    background-color: #39c5bb; /* Color Aqua base para la tab activa */
    color: #34495e; /* Color de texto oscuro para la tab activa */
}

.content {
    display: flex;
    justify-content: space-between;
    width: 100%;
    max-width: 1200px; /* Ajusta según el tamaño deseado */
}

.request-container,
.response-container {
    border: 2px solid #276f6b; /* Color Aqua oscuro para el borde */
    padding: 20px;
    box-shadow: 0 0 10px rgba(0,0,0,0.3); /* Sombra más oscura */
    background-color: #283838; /* Fondo oscuro para el contenedor */
    margin: 0 10px;
    flex: 1; /* Flexibilidad para adaptarse al contenedor */
}

.request-container h2,
.response-container h2 {
    margin-bottom: 20px;
    color: #39c5bb; /* Color Aqua base */
}
.editor {
    display: flex;
    background-color: #1f2e3a; /* Fondo del contenedor del editor */
    border: 2px solid #276f6b; /* Borde del contenedor */
    border-radius: 4px;
    max-width: 1030px; /* Ancho máximo del editor */
    height: 300px; /* Altura fija */
    overflow: hidden; /* Sin scroll en el contenedor */
}

.line-numbers {
    background-color: #34495e; /* Color del fondo para los números de línea */
    color: #e0e0e0; /* Color del texto para los números de línea */
    padding: 10px;
    text-align: right;
    font-size: 14px;
    user-select: none; /* Evitar la selección de texto */
    border-right: 2px solid #276f6b; /* Borde entre números y textarea */
    overflow: hidden; /* Sin scroll en los números de línea */
}

.cursor-position {
    margin-top: 5px; /* Espacio entre el editor y el texto de posición */
    color: #e0e0e0; /* Color del texto */
    font-size: 14px; /* Tamaño de fuente */
}

textarea {
    flex-grow: 1;
    height: 100%;
    width: 100%;
    box-sizing: border-box;
    padding: 10px;
    border: 2px solid #276f6b;
    border-radius: 4px;
    font-family: monospace;
    font-size: 14px;
    background-color: #1f2e3a;
    color: #e0e0e0;
    resize: none;
    overflow: auto;
}

input[type="submit"] {
    padding: 10px 20px;
    border: none;
    background-color: #283838; /* Fondo oscuro para el botón */
    color: #a1f4f0; /* Color de texto del botón */
    cursor: pointer;
    border-radius: 4px;
    font-size: 16px;
}

input[type="submit"]:hover {
    background-color: #2f9c95;
}

input[type="submit"]:active {
    transform: translateY(2px);
}


/* Estilos para la barra de desplazamiento personalizada */
::-webkit-scrollbar {
    width: 10px;
    background-color: #2c3e50; /* Fondo oscuro para la barra de desplazamiento */
}

::-webkit-scrollbar-thumb {
    background-color: #86cecb; /* Color Miku para el "thumb" (la parte que se arrastra) */
    border-radius: 5px; /* Bordes redondeados */
}

::-webkit-scrollbar-thumb:hover {
    background-color: #5fb7b3; /* Color más oscuro al pasar el cursor por encima */
}