body {
    color: #e0e0e0; /* Color de texto claro */
    margin: 0;
    font-family: Arial, sans-serif;
    box-sizing: border-box;
    background-color: #2c3e50;
}

/* Estilos del navbar */
.navbar {
    background-color: #39c5bb;
    overflow: hidden;
}

.navbar a {
    float: left;
    display: block;
    color: #e0e0e0;
    text-align: center;
    padding: 14px 20px;
    text-decoration: none;
}
.navbar .app-name {
    font-size: 24px;
    font-family: 'Arial', sans-serif;
    float: left;
    display: block;
    color: #e0e0e0;
    text-align: center;
    padding: 14px 20px;
    text-decoration: none;
}
.navbar a:hover {
    background-color: #2f9c95;
    color: #e0e0e0;
}

/* Estilos para centrar el área de texto */
.container {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 80vh;
}

.form-container {
    border: 2px solid #276f6b; /* Color Aqua oscuro para el borde */
    padding: 20px;
    box-shadow: 0 0 10px rgba(0,0,0,0.3); /* Sombra más oscura */
    text-align: center;
    background-color: #283838; /* Fondo oscuro para el formulario */
}

.form-container h2 {
    margin-bottom: 20px;
    color: #39c5bb; /* Color Aqua base */
}

textarea {
    width: 100%;
    max-width: 500px;
    box-sizing: border-box;
    padding: 10px;
    border: 2px solid #276f6b;
    border-radius: 4px;
    font-family: monospace;
    font-size: 14px;
    background-color: #1f2e3a;
    color: #e0e0e0;
    resize: none;
}

input[type="submit"] {
    padding: 10px 20px;
    border: none;
    background-color: #283838; /* Fondo oscuro para el botón */
    color: #a1f4f0; /* Color de texto del botón */
    cursor: pointer;
    border-radius: 4px;
    font-size: 16px;
}

input[type="submit"]:hover {
    background-color: #2f9c95; /* Tono más oscuro para el hover */
}

/* Estilos para la barra de desplazamiento personalizada */
::-webkit-scrollbar {
    width: 10px;
    background-color: #2c3e50; /* Fondo oscuro para la barra de desplazamiento */
}

::-webkit-scrollbar-thumb {
    background-color: #86cecb; /* Color Miku para el "thumb" (la parte que se arrastra) */
    border-radius: 5px; /* Bordes redondeados */
}

::-webkit-scrollbar-thumb:hover {
    background-color: #5fb7b3; /* Color más oscuro al pasar el cursor por encima */
}